{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    
    {% if username and username != "Anonymous" %}
        <p>Добро пожаловать, <strong>{{ username }}</strong>!</p>
    {% else %}
        <p>Добро пожаловать, <strong>Anonymous</strong>!</p>
    {% endif %}
    
    <nav>
        <ul>
            {% if username and username != "Anonymous" %}
                <li><a href="{{ url_for('lab5.list_articles') }}">Просмотр статей</a></li>
                <li><a href="{{ url_for('lab5.create_article') }}">Создание статьи</a></li>
                <li><a href="{{ url_for('lab5.logout') }}">Выйти</a></li>
            {% else %}
                <li><a href="{{ url_for('lab5.register') }}">Регистрация</a></li>
                <li><a href="{{ url_for('lab5.login') }}">Авторизация</a></li>
                <li><a href="{{ url_for('lab5.list_articles') }}">Просмотр статей</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}