<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
    <title>
        {% if name %}
            {{ name }} - 
        {% endif %}
        Лабораторная работа 
        {% if lab_num %}
            {{ lab_num }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h1>
            Лабораторная работа 
            {% if lab_num %}
                {{ lab_num }}
            {% endif %}
        </h1>
    </header>

    <main>
        <div class="container">
            <h2>Информация о студенте:</h2>
            <p>
                <strong>Имя:</strong> 
                {% if name %}
                    {{ name }}
                {% else %}
                    Анонимус
                {% endif %}
            </p>
            <p>
                <strong>Группа:</strong> 
                {% if group %}
                    {{ group }}
                {% else %}
                    Потеряшка
                {% endif %}
            </p>
            <p>
                <strong>Курс:</strong> 
                {% if course %}
                    {{ course }}
                {% else %}
                    Не дожил до 3 курса
                {% endif %}
            </p>

            <h2>Список фруктов:</h2>
            
            <ul>
                {% for fruit in fruits %}
                <li>{{ loop.index }} - {{ fruit.name }}: {{fruit.price}} &#x20bd;</li>
                {% endfor %}
            </ul>

        </div>
    </main>

    <footer>
        &copy; 
        {% if name %}
            {{ name }}
        {% else %}
            Анонимус
        {% endif %},
        {% if group %}
            {{ group }}
        {% else %}
            Потеряшка
        {% endif %},  
        {% if course %}
            {{ course }}
        {% else %}
            Не дожил до 3 курса
        {% endif %}, 
        2025
    </footer>
</body>
</html>