<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Журавлева Виктория. Лабораторная работа 2</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа 2
    </header>

    <main>
       <div class="info-box">
            <h2>Информация о студенте</h2>
            <p><strong>Имя:</strong> {{ name }}</p>
        </div>

        <div class="info-box">
            <h2>Информация о лабораторной работе</h2>
            <p><strong>Номер лабораторной работы:</strong> {{ lab_number }}</p>
            <p><strong>Группа:</strong> {{ group }}</p>
            <p><strong>Курс:</strong> {{ course }}</p>
        </div> 

        <div class="info-box">
            <p>5 + 2 = {{ 5 + 2 }}<br></p>
            <p>11 * 28 = {{ 11 * 28 }}<br></p>
            <p>3258 - 759 = {{ 3258 - 759 }}<br></p>
            <p>8452 / 793 = {{ 8452 / 793 }}<br></p>
            <p>45<sup>8</sup> = {{ 45 ** 8 }}<br></p>
        </div>
    </main>

    <footer>
        &copy; {{ name }}, ФБИ-34, 3 курс, 2025
    </footer>
</body>
</html>